<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Angular YouTube</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
    <div class="container" ng-controller="MainController">
    <div class="row">
    	<div class="col-md-12">

    			{{ message }}

    			<!-- 'player' attr: This gives us a binding to the actual YouTube -->
    			<!-- 	Notice however, that we bind this to both the inside of the directive AND in our controller, 
    					so now we can control the player inside our directive from our controller.

    					This will be good when we need to do things that isn't necessarily a user action.
    			-->
				<youtube-video video-id="cyanidecanariesvideo" player="playerCtrl" player-width="playerWidth" player-height="playerHeight"></youtube-video>

    	</div>
    	<div class="col-md-12">
    		<button ng-click="playerCtrl.playVideo()">Play</button>
			<button ng-click="playerCtrl.stopVideo()">Stop</button>
    	</div>
    </div>

        


    </div>

    <!-- Load 3rd Party Things -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Load Angular -->
    <script src="dist/angular.min.js"></script>

    <!-- Load Application Code -->
    <script src="js/app.js"></script>
    <script src="js/MainController.js"></script>
    <script src="js/services/angular-youtube-embed.js"></script>
</body>

</html>
